// 2. Color Variables
$color-dark-bg: #151515;
$color-primary: #4ee1a0;
$color-dark-grey: #242424;
$color-light-grey: #d9d9d9;
$color-white: #ffffff;
$color-error: #ff6f5b; // Untuk validasi form

// 3. Typography Mixins
@mixin heading-xl {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: clamp(4rem, calc(2.255rem + 5.455vw), 8.8rem);
  // font-size: 8.8rem;
  line-height: 1;
  letter-spacing: -0.25rem;
}

@mixin heading-l {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  // font-size: 4.8rem;
  font-size: clamp(3.2rem, calc(2.618rem + 1.818vw), 4.8rem);
  line-height: 1.16;
  letter-spacing: -0.15rem;
}

@mixin heading-m {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.33;
}

@mixin body-l {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: clamp(1.6rem, calc(1.527rem + 0.227vw), 1.8rem);
  line-height: 1.55;
  color: $color-light-grey;
}

// 4. Interactive Elements Mixin
@mixin button-style {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.23rem;
  text-transform: uppercase;
  color: $color-white;
  border-bottom: 0.2rem solid $color-primary;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

@mixin wrapper {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
}

@mixin tablet {
  @media screen and (min-width: 48rem) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 75rem) {
    @content;
  }
}
