html {
  font-size: 62.5%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #151515;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: clamp(1.6rem, 1.527rem + 0.227vw, 1.8rem);
  line-height: 1.55;
  color: #d9d9d9;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
.btn-link {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.23rem;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 0.2rem solid #4ee1a0;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}
.btn-link:hover {
  color: #4ee1a0;
}
.btn-link {
  font:
    700 1.6rem/2.6rem "Space Grotesk",
    sans-serif;
  letter-spacing: 0.3rem;
}

.header {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
}
.header__nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .header__nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header__logo,
.footer__logo {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.33;
  color: #ffffff;
  text-decoration: none;
}
.header__social-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 2.4rem;
}
.header__social-list img {
  width: 2.4rem;
  height: 2.4rem;
}

.main {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
}

.hero {
  padding-top: 20rem;
  display: grid;
  gap: 4rem;
  padding-bottom: 9rem;
}
@media screen and (min-width: 48rem) {
  .hero {
    grid-template-columns: 2fr 1fr;
    padding-top: 0;
    align-items: center;
  }
}
.hero__logo {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.33;
}
@media screen and (min-width: 48rem) {
  .hero__logo {
    font-size: 3.2rem;
  }
}
.hero__heading {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: clamp(4rem, 2.255rem + 5.455vw, 8.8rem);
  line-height: 1;
  letter-spacing: -0.25rem;
}
.hero__heading--highlight {
  border-bottom: 6px solid #4ee1a0;
}
.hero__description {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: clamp(1.6rem, 1.527rem + 0.227vw, 1.8rem);
  line-height: 1.55;
  color: #d9d9d9;
}
@media screen and (min-width: 48rem) {
  .hero__description {
    padding-bottom: 2.6rem;
  }
}
.hero__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
@media screen and (min-width: 48rem) {
  .hero__content {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: start;
    align-items: flex-start;
    padding-top: clamp(15rem, 13.182rem + 5.682vw, 20rem);
    gap: 4rem;
  }
}
.hero__image img {
  width: 50%;
  margin-inline: auto;
}
@media screen and (min-width: 48rem) {
  .hero__image img {
    margin: 0;
    width: 100%;
  }
}
.hero__image {
  position: relative;
}
@media screen and (min-width: 48rem) {
  .hero__image {
    grid-column: 2/3;
  }
}

.skills {
  padding-block: clamp(4rem, 2.836rem + 3.636vw, 7.2rem);
}
.skills__grid {
  display: grid;
  gap: 2.4rem;
  list-style: none;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .skills__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.skills__title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: clamp(3.2rem, 2.618rem + 1.818vw, 4.8rem);
  line-height: 1.16;
  letter-spacing: -0.15rem;
}
.skills__exp {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: clamp(1.6rem, 1.527rem + 0.227vw, 1.8rem);
  line-height: 1.55;
  color: #d9d9d9;
}

.projects {
  padding-block: 8rem;
  display: grid;
  gap: clamp(4rem, 2.545rem + 4.545vw, 8rem);
}
.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__heading {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: clamp(4rem, 2.255rem + 5.455vw, 8.8rem);
  line-height: 1;
  letter-spacing: -0.25rem;
}
.projects__grid {
  display: grid;
  gap: 4rem;
  align-items: start;
}
@media screen and (min-width: 48rem) {
  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6.5rem;
    column-gap: 2.2rem;
  }
}

.project-card {
  display: grid;
  gap: 2rem;
}
.project-card__header {
  display: grid;
  gap: 0.8rem;
}
.project-card__tags {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1.8rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: clamp(1.6rem, 1.527rem + 0.227vw, 1.8rem);
  line-height: 1.55;
  color: #d9d9d9;
}
.project-card__mobile-links {
  display: flex;
  gap: 3.2rem;
}
.project-card__title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.33;
}
.project-card__image-container {
  position: relative;
}
.project-card__overlay {
  display: none;
}
@media screen and (min-width: 75rem) {
  .project-card__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .project-card:hover .project-card__overlay {
    opacity: 1;
  }
  .project-card__mobile-links {
    display: none;
  }
}

.contact {
  background-color: #242424;
  padding-block: 8rem;
}
.contact__wrapper {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
}
@media screen and (min-width: 48rem) {
  .contact__wrapper {
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
  }
}
.contact__content {
  max-width: 44.5rem;
}
.contact__heading {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: clamp(4rem, 2.255rem + 5.455vw, 8.8rem);
  line-height: 1;
  letter-spacing: -0.25rem;
  margin-bottom: 2rem;
}
.contact__description {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: clamp(1.6rem, 1.527rem + 0.227vw, 1.8rem);
  line-height: 1.55;
  color: #d9d9d9;
}

.footer {
  background-color: #242424;
  padding-block: 4rem;
}
.footer__nav {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 4rem;
  border-top: 1px solid #d9d9d9;
}
@media screen and (min-width: 48rem) {
  .footer__nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
